
    </main>
    <footer class="footer">
      <div class="footer__grid">
        <p>&copy; <%= year %> -<span class="footertexto"> Todos los derechos reservados</span></p>

        <nav class="linkdln">
          <a href="https://www.linkedin.com/in/wilfredery-a-dilon%C3%A9-cordero-a23386279/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </nav>
      </div>
    </footer>
    <script src="/build/js/bundle.min.js"></script>
</body>
</html>