<!DOCTYPE html>
<html lang="en">
<head>

            <script>
  (() => {
    const theme = localStorage.getItem('theme');
    if (theme === 'dark') document.body.classList.add('dark');
  })();
</script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/build/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>



</head>
<body>
    
    <header class="header">
        
        <div class="logo-container">
            <a href="/"><h1 class="logo">My<span class="spanTitulo">Notes</span></h1></a>
        </div>

        <div class="menu-container">
            <!-- Botón del menú hamburguesa -->
            <button class="menu-btn" aria-label="Open menu">
            <i class="fa-solid fa-bars"></i>
            </button>

            <!-- Menú desplegable -->
            <nav class="dropdown-menu">
            <ul>
                <li><a href="/account-settings" ><span>🧑</span>Account & Settings<span>⚙️</span></a></li>
                <li><a href="/search" data-i18n><span>🔍</span>Search Notes</a></li>
            </ul>
            </nav>
        </div>
    </header>

    <main class="shadowbox">

        

