<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/build/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

</head>
<body>
    <main>
        <header class="header">
            
            <div class="logo-container">
                <a href="/"><h1 class="logo">My<span class="spanTitulo">Notes</span></h1></a>
            </div>

            <div class="menu-container">
                <!-- Botón del menú hamburguesa -->
                <button class="menu-btn" aria-label="Open menu">
                <i class="fa-solid fa-bars"></i>
                </button>

                <!-- Menú desplegable -->
                <nav class="dropdown-menu">
                <ul>
                    <li><a href="/account-settings">Account & Settings</a></li>
                    <li><a href="/search">Search Notes</a></li>
                    <li><button id="toggleTheme">Toggle Theme</button></li>
                </ul>
                </nav>
            </div>
        </header>

    
    