<%- include('partials/header') %>

<section class="settings">

  <h2 class="settings__h2" data-i18n="account_settings"></h2>

  <!-- Info del usuario -->
  <div class="settings__user">
    <p class="settings__user--userName"></p>
  </div>

  <!-- Tema -->
  <div class="settings__option">
    <div class="settings__option--theme-switcher">
      <label for="theme-toggle" data-i18n="theme">Tema:</label>
      <button id="theme-toggle">Light 🌞</button>
    </div>
  </div>

  <!-- Idioma -->
  <div class="settings__option">
    <div class="settings__option--lang-switcher">
      <label for="lang-toggle" data-i18n="language">Idioma:</label>
      <button id="lang-toggle">Español 🇪🇸</button>
    </div>
  </div>

  <!-- Seguridad -->
  <div class="settings__security">
  
    <button type="button" id="change-password-btn" class="settings__security--btn settings__security--btnSecondary" disabled data-i18n="change_password"></button>

    <button type="button" id="logout-btn" class="settings__security--btn settings__security--btnDanger" disabled data-i18n="logout"></button>
  </div>

</section>

<%- include('partials/footer') %>
