<%- include('partials/header') %>

<section class="actions">
  <h2 class="recent-notes__title" data-i18n="titleCreate_note"></h2>
  <h2 class="recent-notes__title" data-i18n="check_notes"></h2>
</section>

<section class="actions">
  <button class="create-btn" data-href="/crear" type="button">
    <span class="btn-icon">📝</span>
    <span class="btn-text" data-i18n="create_note"></span>
  </button>

  <button class="search-btn" data-href="/search" type="button">
    🔎 <span data-i18n="search_notes"></span>
  </button>
</section>

<h2 class="guideTitle" data-i18n="askguide"></h2>
<div class="guide-content shadowbox">

  <!-- STEP 1 -->
  <article class="guide-content__step guide-content__step--active">
    <h4 class="guide-content__title" data-i18n="menuHamburguesa"></h4>

    <p class="guide-content__text" data-i18n="menuHamburguesaTexto"></p>

    <picture class="guide-content__media" data-img="menu-hamburguesa">
      <source type="image/webp">
      <img alt="Menú" loading="lazy">
    </picture>

  </article>

  <!-- STEP 2 -->
  <article class="guide-content__step">
    <h4 class="guide-content__title" data-i18n="logoInfo"></h4>

    <p class="guide-content__text" data-i18n="logoInfoTexto"></p>

    <picture class="guide-content__media" data-img="logoInfo">
      <source type="image/webp">
      <img alt="Logo" loading="lazy">
    </picture>

    
  </article>

  <!-- STEP 3 -->
  <article class="guide-content__step">
    <h4 class="guide-content__title" data-i18n="mainButton"></h4>

    <p class="guide-content__text" data-i18n="mainButtonTexto"></p>

    <picture class="guide-content__media" data-img="mainButton">
      <source type="image/webp">
      <img alt="Main buttons" loading="lazy">
    </picture>

  </article>

  <!-- STEP 4 -->
  <article class="guide-content__step">
    <h4 class="guide-content__title" data-i18n="search"></h4>

    <p class="guide-content__text" data-i18n="searchTexto"></p>

    <picture class="guide-content__media" data-img="search">
      <source type="image/webp">
      <img alt="Search button" loading="lazy">
    </picture>


  </article>

  <!-- STEP 5 -->
  <article class="guide-content__step">
    <h4 class="guide-content__title" data-i18n="accsett"></h4>

    <p class="guide-content__text" data-i18n="accsettTexto"></p>

    <picture class="guide-content__media" data-img="acc&Sett">
      <source type="image/webp">
      <img alt="Account and Settings" loading="lazy">
    </picture>

    
  </article>

  <!-- NAV -->
  <div class="guide-content__nav">
    <button class="guide-content__nav-btn prev" aria-label="Anterior">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="guide-content__nav-btn-icon"
      >
        <path d="M21 12h-12" />
        <path d="M13 16l-4 -4l4 -4" />
        <path d="M12 3a9 9 0 1 0 0 18" />
      </svg>
    </button>

    <button class="guide-content__nav-btn next" aria-label="Siguiente">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="guide-content__nav-btn-icon"
      >
        <path d="M3 12h12" />
        <path d="M11 8l4 4l-4 4" />
        <path d="M12 21a9 9 0 0 0 0 -18" />
      </svg>
    </button>
  </div>

</div>

<%- include('partials/footer') %>