<%- include('partials/header') %>

<section class="confirm">
    <h1 class="confirm__title" data-i18n="confirmTitle"></h1>
    
    <div class="confirm__content">
        <p class="confirm__content--text" data-i18n="confirmText"></p>
    </div>
    
    <div class="confirm__links">
        <button href="/" class="confirm__links--link" data-i18n="backToLogin"></>
    </div>
</section>

<%- include('partials/footer') %>