<!-- ==========================================================

Description:
Email action confirmation page.

========================================================== -->

<%- include('partials/header') %>

<section class="confirm">
    <h1 class="confirm__title" data-i18n="confirmTitle"></h1>
    
    <div class="confirm__content">
        <p class="confirm__content--text" data-i18n="confirmText"></p>
    </div>

    <!-- NEW: Button to open verification in the same device -->
    <div class="confirm__actions">
        <button id="verify-email-btn" class="confirm__links--link" data-i18n="manualVerificationButton">
        </button>
    </div>
</section>

<script>
  window.__OOB_CODE__ = "<%= oobCode %>";
</script>

<%- include('partials/footer') %>