<%- include('partials/header') %>

<section class="reset">
  <h1 class="reset__title" data-i18n="resetTitle"></h1>

  <form id="reset-form" class="reset__form">
    <label class="reset__form--label" data-i18n="newPassword"></label>
    <input
      id="reset-password" class="reset__form--input" type="password" required minlength="6"/>

    <label class="reset__form--label" data-i18n="confirmPassword"></label>
    <input id="reset-password-confirm" class="reset__form--input" type="password" required minlength="6"
    />

    <button class="reset__form--submit" type="submit" data-i18n="submitReset"></button>
  </form>

  <div class="reset__links">
    <a href="/login" class="reset__link" data-i18n="backToLogin"></a>
  </div>
</section>

<%- include('partials/footer') %>
