<%- include('partials/header') %>
    <section class="search">
        <h2 class="search__titulo">Search here</h2>

        <input class="search__input" type="text" id="search" placeholder="Search notes...">
        
        <ul class="results">
        </ul>
    </section>


<%- include('partials/footer') %>