<%- include('partials/header') %>
    <section class="search-page">
        <h2>Search here</h2>

        <input type="text" id="search" placeholder="Search notes...">
        
        <ul class="results">
            <li>Nombre título</li>
            <li>Nombre título</li>
        </ul>
    </section>


<%- include('partials/footer') %>