<%- include('partials/header') %>
    <section class="search">
        <h2 class="search__titulo">Search here</h2>

        <input class="search__input" type="text" id="search" placeholder="Search notes..." data-i18n-placeholder="search_placeholder">
        
        <ul class="results" id="results"></ul>
    </section>


<%- include('partials/footer') %>