@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

/* ===========================
   SETTINGS BASE
=========================== */

.settings {
  &__h2 {
    text-align: center;
  }

  &__user {
    text-align: center;
    margin: 1.5rem 0;

    &--userName {
      font-weight: 600;
      font-size: 2rem;
      color: v.$azul;
    }
  }

  /* ===========================
   OPTION BLOCK
  =========================== */
  &__option {
    &:nth-child(2) {
      margin-top: 2rem;
    }

    &__label {
      font-weight: bold;
      text-transform: uppercase;
    }

    /* ===========================
    THEME & LANGUAGE SWITCHERS
    =========================== */

    &--lang-switcher, &--theme-switcher {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin: 1rem 0 2rem 1rem;

      label {
        font-weight: 600;
      }

      button {
        background-color: transparent;
        border: 1px solid v.$azul;
        color: v.$azul;
        padding: 0.3rem 0.8rem;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: v.$azul;
          color: v.$blanco;
        }
      }
    }
  }

  /* ===========================
   SECURITY SECTION
  =========================== */

  &__security {
    margin-top: 2.5rem;

    display: flex;      // Poner los botones en fila
    gap: 1rem;          // Separación entre ellos

    &--btn {
      display: inline-block; // Ya no block para que estén en fila
      width: auto;           // Ancho automático
      flex: 1;               // Que crezcan igual para ocupar espacio disponible
      margin-bottom: 0;      // Quitar margen para que no haya salto vertical

      padding: 0.6rem;
      border-radius: 8px;
      border: none;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.3s ease, opacity 0.3s ease;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    &--btnSecondary {
      background-color: transparent;
      border: 1px solid v.$azul;
      color: v.$azul;

      &:hover:not(:disabled) {
        background-color: v.$azul;
        color: v.$blanco;
      }
    }

    &--btnTerciary {
      background-color: transparent;
      border: 1px solid v.$verde;
      color: v.$verde;

      &:hover:not(:disabled) {
        background-color: color.adjust(v.$verde, $lightness: -10%);
        color: v.$blanco;
      }
    }

    &--btnDanger {
      background-color: transparent;
      border: 1px solid v.$rojo;
      color: v.$rojo;

      &:hover:not(:disabled) {
        background-color: color.adjust(v.$rojo, $lightness: -10%);
        color: v.$blanco;

      }
    }
  }
}





