@use 'variables' as v;
@use 'mixins'as m;
@use 'sass:color';

.settings {
    
    &__h2 {
        text-align: center;
    }
}

.option {
    &:nth-child(2) {
        margin-top: 2rem;
    }
    
    &__label {
        font-weight: bold;
        text-transform: uppercase;
    }
}

.lang-switcher, .theme-switcher {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0 2rem 1rem; // pequeño margen inferior respecto al de tema

  label {
    font-weight: 600;
  }

  button {
    background-color: transparent;
    border: 1px solid v.$azul;
    color: v.$azul;
    padding: 0.3rem 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: v.$azul;
      color: v.$blanco;
    }
  }
}
