@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

.footer {
  background-color: v.$azul;
  color: v.$blanco;
  font-weight: 700;
  margin-top: 3rem; 
  
  text-align: center;
  font-size: 1.6rem;

  @include m.tablet {
    font-size: 1.8rem;
  }

  @include m.desktop {
    font-size: 2rem;
  }

  @include m.xl_desktop {
    font-size: 2.2rem;
  }

  &__grid {
    display: grid;
    gap: 1rem;
    align-items: center;

    @include m.tablet {
      grid-template-columns: 1fr auto;
      padding: 0 2rem;
    }
  }

  &__texto,
  &__year {
    color: v.$negro;
  }

  .linkdln {
    a {
      color: v.$negro;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: color 0.3s ease, transform 0.2s ease;

      &:hover {
        color: color.scale(v.$blanco, $lightness: -20%);
        transform: translateY(-2px);
      }

      i {
        font-size: 2.2rem;

        @include m.tablet {
          font-size: 2.5rem;
        }
      }
    }
  }
}