@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh; // altura total de la pantalla
    background-color: v.$blanco;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}

main {
  flex: 1; // ocupa el espacio restante entre header y footer
}

.swal2-popup {
    font-size: 2rem !important;
}