@use 'variables' as v;
@use 'sass:color';


.header {
    background-color: v.$azul;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    .hidden {
        visibility: hidden;
    }
    .logo {
        color: v.$blanco;
        font-weight: 400;
        margin-left: 1rem;
    }
    .spanTitulo {
        color: v.$negro;
        font-weight: 900;
    }
}