@use 'variables' as v;
@use 'sass:color';

.confirm {
    &__title {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    
    &__content {
        &--text {
            font-size: 1.6rem;
            text-align: center;
            margin:2rem 0 2rem 0;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 17rem;
        margin: 0 auto;

        &--link {
            background-color: v.$azul;
            color: v.$blanco;
            padding: 1.2rem;
            border-radius: .6rem;
            font-size: 1.6rem;
            cursor: pointer;
            border: none;
            text-transform: uppercase;
            font-weight: 800;
            transition: 0.2s ease;
            margin-top: 2rem;

            &:hover {
                background: color.adjust(v.$azul, $lightness: -10%);
            }
        }
    }
}