@use 'variables' as v;
@use 'mixins'as m;
@use 'sass:color';

body {
    background-color: v.$gris-claro;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin: 2rem;

  .create-btn, .search-btn {
    @include m.boton(v.$blanco, v.$fuente-principal);
    border: 1px solid v.$azul;
    border-radius: 5%;
    margin: 0 2rem;

    &:hover {
      background-color: color.adjust(v.$azul, $lightness: -10%);
      color: v.$blanco;
      cursor: pointer;
      -webkit-box-shadow: 1px 3px 11px 1px rgba(0,0,0,0.82); 
      box-shadow: 1px 3px 11px 1px rgba(0,0,0,0.82);
    }
  }
}

.shadowbox {
  -webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75); 
  box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
  // margin: 0 2rem 0rem 2rem;
  // padding: 1rem;
  @include m.contenedor;
}


