@use 'variables' as v;
@use 'sass:color';

.menu-container {
    position: relative;
    top: 50%; // debajo del header
    right: 1rem;
    margin-top: 1.5rem;

    .menu-btn {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 4rem; // ícono un poco más grande
        color: v.$negro;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;

        &:hover {
          color: color.adjust(v.$blanco, $lightness: -20%);
        }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%; // justo debajo del botón
    min-width: 32rem;
    background-color: v.$blanco;
    border: 1px solid v.$gris-oscuro;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 7px 14px -1px rgba(0,0,0,0.75); 
box-shadow: 0px 7px 14px -1px rgba(0,0,0,0.75);
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);

    ul {
      list-style: none;
      margin: 1rem;
      padding: 1rem;

      li {
        a, button {
          display: block;
          width: 100%;
          text-align: left;
          padding: 2rem 1.6rem;
          background: none;
          border: none;
          cursor: pointer;
          color: v.$negro;
          text-decoration: none;
          font-size: 1.7rem;
          
          text-transform: uppercase;

          &:hover {
            background: v.$azul;
            border-radius: 1rem;
            color: v.$blanco;
            font-weight: 800;
          }
        }
      }
    }
  }

  &.open .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}

.link--locked {
  opacity: 0.5;
  cursor: not-allowed;
}
