@use 'variables' as v;
@use 'sass:color';

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin xl_desktop {
    @media (min-width: v.$xl_desktop) {
        @content;
    }
}

@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $colorTexto;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 2rem;

    &:hover {
        background-color: color.adjust($bgColor, $lightness: -10%);
        cursor: pointer;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin contenedor {
    margin: 0 auto;
    width: min(95%, 140rem);
    padding: 1rem 2rem;

}

@mixin contenedor-md {
    margin: 0 auto;
    width: min(95%, 80rem);
}

@mixin contenedor-sm {
    margin: 0 auto;
    width: min(95%, 60rem);

}

@mixin headings {
    font-family: v.$fuente-principal;
    font-weight: v.$black;
    margin: 2rem 0;
}

@mixin nombre-pagina {
    @include headings;
    margin: 6rem 0 3rem 0;
    text-align: center;
}

@mixin descripcion-pagina {
    text-align: center;
    font-size: 1.8rem;
    color: v.$gris-oscuro;
    line-height: 1.5;
    font-weight: v.$delgada;
    
}

@mixin texto-fluido($min, $max) {
    font-size: clamp($min, -0.8rem + 10vw, $max);
}

@mixin texto-degradado($inicio, $final) {
    background: linear-gradient(to right, $inicio, $final);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin logo {
   color: v.$blanco;
   margin-bottom: 2rem;
   text-align: center;
   white-space: nowrap;
   
   @include desktop {
         margin: 0;
         text-align: left;
   }
}

@mixin menu-social($color, $size) {
 
    &__enlace {
 
        &::before {
            color: $color;
            font-size: $size;
            display: inline-block;
            font-style: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 6 Brands";
        }
 
        &[href*="facebook.com"]::before {
            content: "\f39e";
        }
        &[href*="github.com"]::before {
            content: "\f09b";
        }
        
        &[href*="tiktok.com"]::before {
            content: "\e07b";
        }
        &[href*="instagram.com"]::before {
            content: "\f16d";
        }
        &[href*="youtube.com"]::before {
            content: "\f167";
        }
        &[href*="twitter.com"]::before {
            content: "\f099";
        }
    }
 
    &__ocultar {
        display: none;
    }
}

@mixin enlace {
    all: unset;
    color: v.$blanco;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: v.$bold;

    &:hover {
        color: v.$azul;
        cursor: pointer;
    }
}

@mixin shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@mixin reset-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin tags {
    @include reset-lista;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1.5rem;

    //Selector de primer nivel de hijos
    > li {
        background-color: v.$azul;
        padding: 1rem;
        border-radius: 1rem;
        font-weight: v.$bold;
        color: v.$blanco;

    }
}

@mixin card {
    border: 1px solid color.adjust(v.$gris, $lightness: 10%);
    border-radius: 1rem;
    padding: 3rem;

    &__nombre {
        font-weight: v.$black;
        font-size: 2.6rem;
        margin: 2rem 0;
    }
}

@mixin bg-gradient($bgColor) {
    background-image: linear-gradient(to left top, $bgColor, color.adjust($bgColor, $lightness: 15%));
} 