@use 'variables' as v;
@use 'sass:color';

.forgot {

  &__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;


    &--label {
        font-weight: bold;
    }

    &--input {
        font-size: 1.6rem;
        padding: 1rem;
        border: 1px solid v.$gris-claro;
        border-radius: .6rem;
        outline: none;

        &:focus {
        border-color: v.$azul;
        }
    }

    &--submit {
        background-color: v.$azul;
        color: v.$blanco;
        padding: 1.2rem;
        border-radius: .6rem;
        font-size: 1.6rem;
        cursor: pointer;
        border: none;
        text-transform: uppercase;
        font-weight: 800;
        transition: 0.2s ease;
        margin-top: 2rem;

        &:hover {
        background: color.adjust(v.$azul, $lightness: -10%);
        }
  }

  
  }

  &__links {
    display: flex;
    justify-content: center;
    margin: 2rem 0 2rem 0;
  }

  &__link {
    color: v.$azul;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 800;

    &:hover {
      text-decoration: underline;
    }
  }
}
