@use 'variables' as v;
@use 'sass:color';


.search {

    &__titulo {
        text-align: center;
    }

    &__input {
        display: block;
        width: 100%;
        padding: 1rem;
        margin: 2rem 0;
        font-size: 1.6rem;
        border: .1rem solid v.$negro;
        border-radius: 1rem;
    }
}