@use 'variables' as v;
@use 'sass:color';

.search {
  display: grid;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;

  &__Cont {
    display: grid;
    grid-template-columns: repeat(2, .1fr 87%);
    gap: 1rem;
    
  }

  &__titulo {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    text-align: center;
    color: v.$negro;
  }

  &__input {
    width: auto;
    padding: 1rem;
    border: 1px solid v.$gris-claro;
    border-radius: 10px;
    font-size: 1.6rem;
    margin: 1rem 0;
    outline: none;

    &:focus {
      border-color: v.$azul;
    }
  }

  &__results {
    list-style: none;
    padding: 0;
    margin-top: 2rem;

    .note-item {
      padding: 1.6rem;
      margin-bottom: 1.4rem;
      background: v.$blanco;
      border-radius: 12px;
      border: 1px solid v.$gris-claro;
      box-shadow: 0 4px 12px rgba(0,0,0,0.06);
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 1rem;
      transition: transform .15s ease, box-shadow .15s ease;

      &:hover {
        transform: translateY(-3px);
        -webkit-box-shadow: 2px 4px 17px 3px #000000; 
        box-shadow: 2px 4px 17px 3px #000000;
      }

      /* INFO */
      .info {
        flex: 1;

        h3 {
          font-size: 2.1rem;
          font-weight: 700;
          margin: 0;
          color: v.$negro;
        }

        p {
          font-size: 1.5rem;
          color: v.$gris-oscuro;
          margin-top: 0.4rem;
          line-height: 1.4;
        }
      }

      /* ACTIONS */
      .actions {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        gap: 3rem;

        button {
          font-size: 1.3rem;
          padding: .8rem 1.4rem;
          border-radius: 1.6rem;
          font-weight: 700;
          text-transform: uppercase;
          border: none;
          cursor: pointer;
          transition: 0.2s ease;
        }

        .edit-btn {
          background: v.$azul;
          color: v.$blanco;

          &:hover {
            background: color.adjust(v.$azul, $lightness: -10%);
            transform: translateY(-2px);
          }
        }

        .delete-btn {
          background: #e74c3c;
          color: v.$blanco;

          &:hover {
            background: color.adjust(#e74c3c, $lightness: -10%);
            transform: translateY(-2px);
          }
        }
      }
    }
  }
  //FILTRO SEARCH
  &__filter {
    margin-top: 1rem;
  }

  &__filter--btn {
    padding: .8rem 1.2rem;
    background-color: v.$blanco;
    color: v.$negro;
    font-weight: 600;
    border: .1rem solid v.$azul;
    border-radius: .6rem;
    cursor: pointer;
  }
    .hidden {
    display: none;
  }

  &__filter--panel {
    margin-top: 1rem;
    padding: 1.2rem;
    background-color: v.$blanco;
    border: .1rem solid v.$azul;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
  }



  &__filter--option {
    padding: .8rem;
    background-color: v.$blanco;
    border: .1rem solid v.$azul;
    border-radius: .6rem;
    font-weight: 600;
    color: v.$negro;
    cursor: pointer;

    &:hover {
      background: color.adjust(v.$azul, $lightness: -10%);
    }
  }
  
  //Inicio paginacion
  &__pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;

    &--page-btn {
      padding: 6px 12px;
      border: 1px solid #ccc;
      background: white;
      cursor: pointer;
      border-radius: 6px;

      &.active {
        background: #3085d6;
        color: white;
        border-color: #3085d6;
      }
    }
  }
}
//fin search
