@use 'variables' as v;
@use 'sass:color';

//Pertenece al change lang y theme.
.minimal-alert {
  color: v.$negro;
  background-color: v.$blanco;
  border-radius: 1rem !important;
  padding: 2rem 1rem !important;
  backdrop-filter: blur(.8rem);
  border: .1rem solid v.$negro;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  box-shadow:
    0 .2rem .8rem rgba(0,0,0,0.08),
    0 .6rem 2.4rem rgba(0,0,0,0.06) !important;
}
//Fin Pertenece al change lang y theme.
