@use 'normalize';
@use 'variables';
@use "main";
@use 'globales';
@use 'mixins';
@use 'menuHamburguesa';
@use 'header';
@use 'footer';
@use 'accountSett';
@use 'dark';
@use 'search';
@use 'sweetAlert';
@use 'crear';
@use 'editar';
@use 'login';
@use 'register';
@use 'olvidar';
@use 'password';
@use 'linkconfirm';